{% extends "auctions/layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    <h2><b>Active Listings:</b></h2>
    <hr>
    {% for item in data %}
        <div style="width: 100%; overflow: hidden;">
            <div style="width: 250px; float: left;">
            <a style="text-decoration: none; color: black;" href = "{{item.item_name}}"><img style="width: 235px; height: 170px; overflow: hidden;margin-left: 30px; margin-right: 30px; margin-top: 10px;" src="{{item.item_image}}">
            </div>
            <div style="margin-left: 330px;">
            <br>
            <b style="font-size: 20px;">{{item}}</b> - <i>{{item.item_category}}</i><br>
            Start price: ${{item.start_price}}<br>
            Status: {{item.item_status}}
            </a>
            </div>
        </div>
        <br><hr>
    {% endfor %}

{% endblock %}